.col-header {
  height: 7vh;
  background-color: royalblue;
  color: white;
  font-size: 30px;
}

.col-footer {
  height: 7vh;
  background-color: royalblue;
  color: white;
  text-align: right;
}

.col-body {
  height: 86vh;
}

.form-center {
  padding-top: 140px;
}

.container {
  background-color: bisque;
  width: 500px;
  height: 350px;
  padding-top: 30px;
  border-style: double;
  border-color: royalblue;
  border-width: 10px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.login-form {
  padding: 30px;
}

.login-form input {
  width: 200px;
  height: 35px;
}

.login-form label {
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  margin: 10px
}

.login-btn {
  font-weight: bold;
  width: 110px;
  height: 35px;
  border-radius: 10px;
  float: right;
  margin-right: 60px;
}

.login-btn:hover {
  color:rgb(15, 139, 211) ;
}
