* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.icon {
  margin-right: 20px;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .menu {
  position: fixed;
  width: 250px;
  height: 100vh;
  background-color: royalblue;
  padding: 20px 0px;
}

.menu h2 {
  color: white;
  text-align: center;
  margin-top: 55px;
}

.wrapper .menu ul li {
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(225,225,225,0.05);
}

.wrapper .menu ul li a{
  text-decoration: none;
  color: white;
  display: block;
}

.wrapper .menu ul li:hover {
  background-color: rgb(58, 98, 151);
}

.wrapper .menu ul li a:hover {
  color: black;
}